<?xml version="1.0" encoding="utf-8" ?>
<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
        >
  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="database" xsi:type="Database">
      <connectionString>Server=localhost;Database=tuszcom.chat;Trusted_Connection=True;MultipleActiveResultSets=true</connectionString>
      <!-- <connectionString>Server=localhost;Database=EnterOnline;User id=sa;Password=3GRyg5dKZg;MultipleActiveResultSets=true</connectionString>-->
      <!--
        SET ANSI_NULLS ON
        SET QUOTED_IDENTIFIER ON
        CREATE TABLE [dbo].[ErrorLog](
	        [IDError] [int] IDENTITY(1,1) NOT NULL,
	        [Date] [datetime] NOT NULL CONSTRAINT [DF__ErrorLogs__Date__1B9317B3]  DEFAULT (getdate()),
	        [Level] [nvarchar](50) NULL,
	        [Message] [nvarchar](max) NULL,
	        [Logger] [nvarchar](max) NULL,
	        [Callsite] [nvarchar](max) NULL,
	        [Exception] [nvarchar](max) NULL,
         CONSTRAINT [PK_dbo.ErrorLogs] PRIMARY KEY CLUSTERED 
        (
	        [IDError] ASC
        )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
        ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

        GO
        -->

      <commandText>INSERT INTO dbo.ErrorLogs (Date, Level, Message, Logger, Callsite, Exception) values (@date, @level, @message, @logger, @callsite, @exception);</commandText>
      <parameter name="@date" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
  </targets>


  <rules>
    <logger name="*" minlevel="Error" writeTo="database" />
  </rules>
</nlog>
